@font-face {
    font-family: 'JetBrains Mono';
    src: url("./Not-Mine/JB-NF-Mono-Regular.ttf")  format("woff2");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'JetBrains Propo';
    src: url("./Not-Mine/JB-NF-Propo-Regular.ttf")  format("woff2");
    font-weight: normal;
    font-style: normal
}
