@import './fonts.css';

:root {
    --bg-color-1: #383838;
    --bg-color-2: #828282;
    --bg-color-3: #ccc;
    --fg-color-1: #fff;
    --fg-color-2: #eee;
    --fg-color-alt: black;

    --primary-color: blue;
    --secondary-color: green;
    --danger-color: darkred;

    --success-color: green;
    --success-sec-color: darkgreen;
    --success-bg-color: #2a27;

    --error-color: red;
    --error-sec-color: darkred;
    --error-bg-color: #9228;

    --border-radius: 8px;
}

* {
    color: var(--fg-color-1);
    box-sizing: border-box;
    font-family: 'JetBrains Propo', monospace;
}

html,
body {
    min-height: 100vh;
    height: 100vh;
    background-color: var(--bg-color-1);
    margin: 0 !important;
    overflow: auto;
}

.container-30 {
    max-width: 30%;
    width: 30%;
    margin-inline: auto;
}

.container {
    max-width: 50%;
    width: 50%;
    margin-inline: auto;
}

.container-75 {
    max-width: 75%;
    width: 75%;
    margin-inline: auto;
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;

}


.backdrop {
    z-index: 1;

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #0006;
    backdrop-filter: blur(5px);
}

.backdrop>.close {
    display: none;
}

/**
  * MODAL 1
  **/

.modal-1 {
    /* box-shadow: 0 0 25px 0 black; */
    background-color: var(--bg-color-2);
    border-radius: var(--border-radius);

    margin: auto;
    width: min-content;
    height: min-content;
    
    position: absolute;
    top: 0;
    bottom: 0;

    left: 0;
    right: 0;
}

.modal-1 .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: var(--bg-color-1);
    border-radius: inherit;
    margin: 5px;


    padding: 10px;
}

.modal-1 .body {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 10px;
}


/**
  * MODAL 2
  **/

.modal-2 {
    /* box-shadow: 0 0 25px 0 black; */
    background-color: var(--bg-color-2);
    border-radius: var(--border-radius);

    margin: auto;
    width: min-content;
    height: min-content;
    
    position: absolute;
    top: 0;
    bottom: 0;

    left: 0;
    right: 0;

    overflow: hidden;
}

.modal-2 .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: var(--bg-color-1);
    /* border-radius: inherit; */
    /* margin: 5px; */

    padding: 10px;
}

.modal-2 .body {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 10px;
}


/**
  * TAMAÑOS
  **/

.h-100 {
    height: 100%;
}

.min-h-100 {
    min-height: 100%;
}

.w-100 {
    width: 100%;
}

.min-w-100 {
    min-width: 100%;
}


/** 
  * MARGENES
  **/

.m-auto, .my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.m-auto, .mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.mt-1 {
    margin-top: 10%;
}

.box {
    min-width: min-content;
    /* min-height: 400px; */
    padding: 10px;
    background-color: var(--bg-color-2);
    border-radius: var(--border-radius);
}

/**
  * Tablas
  **/
table {
    border-radius: var(--border-radius);
    border-collapse: collapse;
}

table:first-child {
    border-radius: var(--border-radius);
}

table * {
    border: 1px solid white;
    padding: 5px 10px;
    background-color: var(--bg-color-2);
}


/** 
  * FORMULARIOS
  **/

form.form-block input {}

input, textarea {

    /* all: unset; */
    /* width: 100%; */

    padding: 5px 10px;
    color: var(--fg-color-alt);
    background-color: var(--bg-color-3);
    border-radius: var(--border-radius);
    border: unset;
}

textarea {
    width: 100%;
}

input[type=checkbox] {
    display: inline;
    padding: 0 10px 0 0;
    border: unset !important;
    width: auto;
    white-space: nowrap;
}

input[type=file] {
    padding: 0 10px 0 0;
    border: unset !important;
    width: auto;
    white-space: nowrap;
}

input[type="file"]::-webkit-file-upload-button {
    all: unset;

    padding: 5px 10px;
    margin-right: 5px;

    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    color: var(--fg-color-1);
}

input + input {
    margin-left: 10px;
}

.input-set {
    margin: auto;
    width: auto;
}

.input-set.inline {
    display: inline;
}

.input-set label {
    display: block;
}

.half {
    max-width: 40%;
}

.input-set + .input-set {
    margin-top: 10px;
}


/** 
  * BOTONES
  **/

.btn {
    padding: 5px 10px;
    margin-right: 5px;
}

.btn:hover {
    filter: brightness(0.7);
}

.btn.primary {
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    color: var(--fg-color-1);
}

.btn.primary-outline {
    border-radius: var(--border-radius);
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    background-color: unset;
    font-weight: bolder;
}

.btn.secondary {
    border-radius: var(--border-radius);
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    color: var(--fg-color-1);
}

.btn.secondary-outline {
    border-radius: var(--border-radius);
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
    background-color: unset;
    font-weight: bolder;
}

.btn.danger {
    border-radius: var(--border-radius);
    background-color: var(--danger-color);
    border: 2px solid var(--danger-color);
    color: var(--fg-color-1);
}

.btn.danger-outline {
    border-radius: var(--border-radius);
    border: 2px solid var(--danger-color);
    color: var(--danger-color);
    background-color: unset;
    font-weight: bolder;
}

.close-btn {
    margin-left: auto;
    border-radius: 50%;
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
    background-color: unset;
    font-weight: bolder;
}

/**
  * Mensajes
  **/

.error-messages {
    border-radius: var(--border-radius);
    padding: 10px;
    background-color: #a227;
    font-weight: bolder;
}

.error-message {
    color: #ffc0cc;
}

.messages {
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px;
}

.message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: var(--border-radius);
}

.message.success {
    background-color: var(--success-bg-color);
    border: 2px solid var(--success-sec-color);
}

.message.error {
    background-color: var(--error-bg-color);
    border: 2px solid var(--error-sec-color);
}


/**
  * Otros
  **/

.bien, .good {
    background-color: green;
    color: greenyellow;
}

.mal, .bad {
    background-color: #911;
    color: #f99;
}

button.btn.close {
    width: 20px;
    height: 20px;

    padding: 0;
    margin: 0;
    
    border: none;
    border-radius: 50%;
    background-color: #911;
}